/*---------Banner-----------*/
.banner {
	display: block;
	margin: 2em auto;
	padding: 1em 0;
	width: 95%;
}

.banner img {
	margin: 0;
	width: 80%;
}

.banner p {
	margin: 1em auto;
}
/*--------Portfolio-----------*/

.portfolio {
	@extend %margin-auto;
	background-color: $color-sec;
	display: block;
	padding: 2em 0;
	width: 100%;

}
.portfolio-items {
	@extend %margin-auto;
	padding: 0;
	width: 95%;

}

.portfolio-items li {
	display: block;
	flex-direction: column;
	margin-top: 2em;
}
.portfolio-items img{
	@extend %margin-auto;
	width: 100%;
}

.portfolio p {
	padding: 1em 0;
	width: 95%;
}

/*--------Skills & Contact-----------*/

.skills,
.contact {
	@extend %content;
}

.skills ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2em;
}

.skills li {
	background-color: $color-prim;
	border-radius: 1em;
	color: $color-text-light;
	font-family: 'Loto', sans-serif;
	margin: .25em;
	padding: .5em .75em;
}

.contact p {
	@extend %margin-auto;
	padding: .75em 0;
}
