/*--------Footer-----------*/
footer {
	border-top: 1px solid $color-border;
	display: flex;
	justify-content: space-between;
	@extend %margin-auto;
	width: 95%;
}

.footer-nav {
	align-items: center;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	text-transform: uppercase;
}

.footer-nav li {
	font-weight: bold;
}

.footer-nav a {
	border-radius: 1em;
	display: inline-block;
	padding: .25em;
	&:hover {
		background-color: $color-button-hvr;
		transition: .5s;
	}
}

.hide-mobile {
	display: none;
}
