/*--------Main-Header-----------*/
.main-nav {
	display: block;
	margin: auto;
}

.main-nav a {
	background-color: #ffffff;
	display: inline-block;
	font-weight: bold;
	margin: .33em auto;
	padding: .5em 0em;
	text-transform: uppercase;
	width: 95%;
}

.main-nav a:hover {
	background-color: #ffd7ae;
	transition: .5s;
}
