/*--------Main-Header-----------*/
.main-nav {
	display: block;
	@extend %margin-auto;
}

.main-nav a {
	background-color: $color-sec;
	display: inline-block;
	font-weight: bold;
	margin: .33em auto;
	padding: .5em 0em;
	text-transform: uppercase;
	width: 95%;
	&:hover {
		background-color: $color-button-hvr;
		transition: .5s;
	}
}
