/* Global Layout Styles*/
* {
	box-sizing: border-box;
}

/* Link Styles Styles*/
a {
	text-decoration: none;
	color: $color-text-dark;
	font-family: $stack-lato;
	&:visited {
		color: inherit;
	}
}


li {
	list-style-type: none;
}

ul {
	padding: 0;
}

body {
	background-color: $color-prim;
	@include text($color-text-dark, 100%, 400);
	font-family: $stack-roboto;
	line-height: 1.5;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

h1, h3{
	font-family: $stack-lato;
}

h2 {
	font-size: 100%;
	text-transform: uppercase;
	font-family: $stack-lato;

	@media #{$brk-narrow} {
		padding: 1em 0;
	}
}

p {
	color: $color-text-base;
	font-size: 110%;
	@extend %margin-auto;
}
